html, * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

body {
    background: #E9E9E9;
}

img {
    width: 100%;
    height: 100%;
  }

.wrapper {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
}

.img-display {
    background: url("assets/backgrounds/blue50.png");
    position: relative;
    height: 500px;
    width: 475px;
    min-height: 500px;
    min-width: 475px;
}

.img-display img {
    position: absolute;
}

img[alt="nose"] {
    z-index: 1;
}

img[alt="hair"] {
    z-index: 2;
}

img[alt="eyes"] {
    z-index: 3;
}

img[alt="mouth"] {
    z-index: 4;
    bottom: 5px;
}

img[alt="accessories"] {
    z-index: 5;
    left: 5px;
}

.button {
    all: unset;
    border: 2px solid black;
    border-radius: 50px;
    padding: .75rem 1.75rem;
    margin-right: .6rem;
    margin-bottom: .8rem;
    cursor: pointer;
}

.button[aria-selected="true"] {
    background: black;
    color: white;
}

.button:hover {
    background: black;
    color: white;
}

.tabs {
    padding-bottom: 2rem;
}

.background {
    all: unset;
    padding: 1rem 2.5rem;
    margin: 5px;
    background: black;
    border-radius: 50px;

}

.blue50 {
    background: url("assets/backgrounds/blue50.png");
}

.blue60 {
    background: url("assets/backgrounds/blue60.png");
}

.blue70 {
    background: url("assets/backgrounds/blue70.png");
}

.darkblue30 {
    background: url("assets/backgrounds/darkblue30.png");
}

.darkblue50 {
    background: url("assets/backgrounds/darkblue50.png");
}

.darkblue70 {
    background: url("assets/backgrounds/darkblue70.png");
}

.green50 {
    background: url("assets/backgrounds/green50.png");
}

.green60 {
    background: url("assets/backgrounds/green60.png");
}

.green70 {
    background: url("assets/backgrounds/green70.png");
}

.grey40 {
    background: url("assets/backgrounds/grey40.png");
}

.grey70 {
    background: url("assets/backgrounds/grey70.png");
}

.grey80 {
    background: url("assets/backgrounds/grey80.png");
}

.red50 {
    background: url("assets/backgrounds/red50.png");
}

.red60 {
    background: url("assets/backgrounds/red60.png");
}

.red70 {
    background: url("assets/backgrounds/red70.png");
}

.yellow50 {
    background: url("assets/backgrounds/yellow50.png");
}

.yellow60 {
    background: url("assets/backgrounds/yellow60.png");
}

.yellow70 {
    background: url("assets/backgrounds/yellow70.png");
}